# EXTRAÇAÕ DE DADOS DA API

In [13]:
import requests
import pandas as pd

url = "https://brasilapi.com.br/api/banks/v1"

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
else:
    print("Error:", response.status_code)

# CRIAÇÃO DE DATA FRAME

In [14]:
df = pd.DataFrame(data)
display(df.head())

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

# FILTROS

In [15]:
filtro1 = df[df["code"].notnull()]
display(filtro1.head())

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
5,00204963,CCR SEARA,430.0,COOPERATIVA DE CREDITO RURAL SEARA - CREDISEARA
6,00250699,AGK CC S.A.,272.0,AGK CORRETORA DE CAMBIO S.A.

In [16]:
filtro2 = df[df["name"].str.contains("Banco", case=False, na=False)]
display(filtro2.head())

,ispb,name,code,fullName
11,00416968,BANCO INTER,77.0,Banco Inter S.A.
14,00556603,BANCO BARI S.A.,330.0,BANCO BARI DE INVESTIMENTOS E FINANCIAMENTOS S.A.
17,00795423,BANCO SEMEAR,743.0,Banco Semear S.A.
31,02038232,BANCO SICOOB S.A.,756.0,BANCO COOPERATIVO SICOOB S.A. - BANCO SICOOB
54,04184779,BANCO BRADESCARD,63.0,Banco Bradescard S.A.

In [17]:
filtro3 = df[df["code"] < 100]
display(filtro3.head())

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
11,00416968,BANCO INTER,77.0,Banco Inter S.A.
20,00997185,BCO B3 S.A.,96.0,Banco B3 S.A.
35,02398976,SISPRIME DO BRASIL - COOP,84.0,SISPRIME DO BRASIL - COOPERATIVA DE CRÉDITO

# DOWNLOAD

In [18]:
df.to_csv("bancos.csv", index=False, encoding="utf-8")
filtro1.to_csv("bancos_com_codigo.csv", index=False, encoding="utf-8")
filtro2.to_csv("bancos_com_nome_'bancos'.csv", index=False, encoding="utf-8")
filtro3.to_csv("bancos_com_codigo_menor_100.csv", index=False, encoding="utf-8")